
section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 900px;
}

.example-button-row .mat-button-base {
  margin: 10px 10px 10px 0;
}


.center-container {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items:center;
  height: 90vh;
}
