/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  background-image: url('C:/Users/danil/OneDrive/Ambiente de Trabalho/horsecmd-3d/IMAGENS/Hero_Desk-2.jpg.jpg'); // Substitua pelo caminho correto da sua imagem
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}


